#
#
# Copyright (C) 1999-2003 by SNMP Research, Incorporated.
#
# This software is furnished under a license and may be used and copied
# only in accordance with the terms of such license and with the
# inclusion of the above copyright notice. This software or any other
# copies thereof may not be provided or otherwise made available to any
# other person. No title to and ownership of the software is hereby
# transferred.
#
# The information in this software is subject to change without notice
# and should not be construed as a commitment by SNMP Research, Incorporated.
#
# Restricted Rights Legend:
#  Use, duplication, or disclosure by the Government is subject to
#  restrictions as set forth in subparagraph (c)(1)(ii) of the Rights
#  in Technical Data and Computer Software clause at DFARS 252.227-7013;
#  subparagraphs (c)(4) and (d) of the Commercial Computer
#  Software-Restricted Rights Clause, FAR 52.227-19; and in similar
#  clauses in the NASA FAR Supplement and other corresponding
#  governmental regulations.
#
#

#
#                PROPRIETARY NOTICE
#
# This software is an unpublished work subject to a confidentiality agreement
# and is protected by copyright and trade secret law.  Unauthorized copying,
# redistribution or other use of this work is prohibited.
#
# The above notice of copyright on this source code product does not indicate
# any actual or intended publication of such source code.
#
#

# Entry type: vcrProgramEntry 
# Entry format: integer
#               integer
#               octetString
#               octetString
#               integer
#               integer
vcrProgramEntry  8 3 57:65:64:20:4d:61:72:20:31:31:20:31:39:2e:30:30:2e:30:30 \
    57:65:64:20:4d:61:72:20:31:31:20:31:39:2e:35:39:2e:35:39 0 1
vcrProgramEntry  9 7 53:75:6e:20:4d:61:72:20:31:34:20:32:32:2e:30:30:2e:30:30 \
    53:75:6e:20:4d:61:72:20:31:34:20:32:32:2e:35:39:2e:35:39 0 1


